.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 5rem;
}

#alertButton {
  border: none;
  padding: 1rem;
  background-color: darkcyan;
  text-align: center;
  color: azure;
  cursor: pointer;
  width: 100%;
}

#alertButton:hover {
  background-color: limegreen;
  color: #000;
}

#alertButton:disabled {
  background-color: gray;
  cursor: not-allowed;
}

#name {
  border: solid 1px;
  border-color: darkcyan;
  border-radius: 10px;
  padding: 1rem;
  width: 92%;
}

.backgroundDesign {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 60vh;
  background: linear-gradient(limegreen, darkcyan);
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-weight: bold;
  font-size: 12pt;
}

h1 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 3rem;
}

.mainCard {
  margin-top: 7rem;
  width: 30%;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
  gap: 1rem;
  background-color: #eee;
  align-content: center;
  justify-items: center;
  padding: 2rem 3rem;
  border-radius: 16px;
}

dialog {
  border: none;
  border-radius: 10px;
  padding: 0;
  width: 40%;
  background: #eee;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.alertHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: darkcyan;
  color: #fff;
}

#copyQuote {
  cursor: pointer;
  font-size: 0.9rem;
  color: #fff;
  text-decoration: underline;
}

#copyQuote:hover {
  color: #ccc;
  text-decoration: none;
}

.alertContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

#closeAlert {
  align-self: flex-end;
  padding: 8px 16px;
  cursor: pointer;
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 6px;
  margin-right: 8px;
  margin-bottom: 6px;
  transition: background 0.2s;
}

#closeAlert:hover {
  background-color: limegreen;
  color: #000;
}

dialog h2 {
  margin: 0 0 8px 0;
  color: #1b1a1b;
  padding: 1rem;
}

dialog p {
  margin: 6px 24px;
  color: #000;
  font-size: 11pt;
  line-height: 1.5;
  font-style: italic;
}


@media (max-width: 768px) {
  .container {
    overflow-x: hidden;
  }

  .mainCard {
    width: 70%;
  }

  h1 {
    font-size: 3rem;
    margin-top: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

  #name {
    width: 89%;
  }

  dialog {
    width: 90%;
  }
}